/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // @import "bootstrap-sprockets";
 // @import "bootstrap";
 // @import "notebook_index.scss";
 // @import "material.min.css";
 // @import "sidebar.scss";
 // @import "notebooks.scss";
 // @import "notes.scss";
 // @import "static_pages.scss";
 // @import "buttons.scss";
 @import url(https://fonts.googleapis.com/css?family=Arvo|Pacifico);

 html, body {
   min-height: 100%;
   height: 100%;
   background: #f3f3f3;
   font-family: "Roboto", sans-serif;;
 }

 .wrapper {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   background: #f3f3f3;
   min-height: 100%;
   height: 100%
 }

 .heading {
   font-weight: 300;
   text-align: center;
   color: #aaa;
   margin: 68px 0 26px;
   display: block;
 }

 .minimal-wrapper {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding: 0 10px;
   display: block;
 }

 .bar-header {
   position: absolute;
   height: 4px;
   width: 100%;
   top: 0;
   left: 0;
   display: block;
 }

 .bar-header .logo-bar {
   position: relative;
   background-color: #2dbe60;
   height: 4px;
   width: 100%;
   z-index: 3;
   display: block;
 }

 #container-boundingbox {
   border: none;
   min-height: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   display: block;
 }

 #container {
   background: 0 0;
 }

 .main {
   background: 0 0;
 }

 .MinimalFormFrame {
   display: block;
 }

 .branding {
   background: no-repeat center top;
   background-size: 68px 68px;
 }

 .heading .branding {
   height: 68px;
   margin-bottom: 19px;
   display: block;
 }

 .minimal-body {
   background: #fff;
   max-width: 384px;
   margin: 0 auto 28px;
   border: 1px solid #dedede;
   text-align: left;
   display: block;
 }

 .MinimalLoginForm {
   display: block;
 }

 .minimal-form {
   margin: 32px;
 }

 form ol {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 ol {
   display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
  //  -webkit-padding-start: 40px;
 }

 li {
   display: list-item;
   text-align: -webkit-match-parent;
 }

 label {
   color: #747474;
   display: inline-block;
 }

 .Row {
   margin-bottom: 2rem;
 }

 .Row:before, .Row:after {
   display: table;
   content: "";
 }

 .Row:after {
   clear: both;
 }

 #email-wrapper {
   position: relative;
   display: block;
 }

 #password-wrapper {
   position: relative;
   margin-bottom: 16px;
   display: block;
 }

 #context-switch {
   background: #f3f3f3;
   text-align: center;
   display: block;
 }

 .t-pico {
   color: #747474;
   line-height: 1.63636364;
   font-style: normal;
   font-weight: 400;
   font-size: .91666667rem;
   margin: 0;
   display: block;
 }

 #context-switch .switch {
   margin-top: 6px;
   display: block;
 }

 .heading h2 {
     font-size: 32px;
     line-height: 36px;
     margin-bottom: 6px;
     color: #2dbe60;
     margin: 0 0;
 }

 input[type=submit] {
   -webkit-appearance: button;
   cursor: pointer;
 }

 .Btn {
   width: 100%;
 }

 .Btn_emph {
     color: #fff;
     background-color: #2dbe60;
 }

 .heading .branding {
     background: url(materialnotelogo.png) no-repeat center top;
     background-size: 100px 100px;
     height: 100px;
     margin-bottom: 1px;
     display: block;
 }

 #context-switch .switch a {
     transition: all .2s ease;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 18px;
     color: #2dbe60;
     text-decoration: none;
 }

 #animated-fab-button--create {
    transition: 150ms ease all;
    -webkit-transition: 150ms ease all;
    display: block;
    position: fixed;
    right: 40px;
    bottom: 36px;
    z-index: 999;
 }

 #animated-fab-button--create .hover {
   display: none;
 }

 #animated-fab-button--create:hover .normal {
   display: none;
 }

 #animated-fab-button--create:hover .hover {
   display: inline;
 }

 #animated-fab-button--create:hover {
    transform: scale(1) rotate(360deg);
    -webkit-transform: rotate(360deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
 }

.mdl-layout__drawer-button {
  color: white !important;
  -webkit-user-select: none;
}

.mdl-layout__drawer-button:focus {
  outline: 0;
}

#floating-action-menu-thing {
  display: block;
  position: fixed;
  right: 40px;
  // bottom: 36px;
  z-index: 998;
}

#main-page-guest-login {
  float: right;
  display: inline;
}

#main-page-guest-login-button:hover {
  text-decoration: underline !important;
}

// .mdl-textfield__label:after {
//   bottom: 15px !important;
// }

#create-note-button {
  left: 37.63%;
}

.background-text-letterpress {
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #9e9e9e;
  text-shadow: 0px 2px 3px #ccc;
  font-size: 24px;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 410px;
  min-width: 410px;
  cursor:default;
  line-height: 130%;
}

.note-items-list {
  -webkit-padding-start: 0;
}

.notebook-index-item-text {
  padding: 12px;
  display: inline-flex;
  width: 179px;
}

.notes-index-item-text {
  padding: 12px;
  display: inline-flex;
  width: 179px;
}

.centered-dropdown-options {
  text-align: center;
}

.enclose-text {
  width: 203px;
  display: inline-flex;
}

$cubic: cubic-bezier(.64,.09,.08,1);

[class^="tooltip"] {
  position: relative;
  &:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 1.4em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: grey;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
  }
  &:hover {
    &:after {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.tooltip--left {
  &:after {
    top: -4px;
    left: 0;
    transform: translateX(-112%) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(-110%) translateY(0);
    }
  }
}

.tooltip--right {
  &:after {
    top: -4px;
    left: 100%;
    transform: translateX(12%) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(10%) translateY(0);
    }
  }
}

.tooltip--triangle {
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px grey;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-2px);
    top: 1.1em;
    left: 50%;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    z-index: 3;
  }
  &:hover {
    &:before {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

/*------------------------------------------------ */

ul {
  list-style: none;
}

#root {
   height: 100%;
   width: 100%;
  //  position: relative;
   overflow-x: hidden;
   overflow-y: hidden;
   background-color: #F2F2F2;
 }

 nav {
   background: #4CAF50;
   height: 7%;
   min-height: 70px;
   border-right-width: 0;
 }

 nav header h1 {
   padding-top: 4px;
   margin-top: 0px;
   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   font-size: 2em;
   height: 100%;
   text-align: center;
   color: white;
 }

 .signout-button {
   position: absolute;
   top: 14px;
   right: 25px;
   z-index: 100;
 }

.container.group {
  outline: 0;
  // overflow-y: auto;
  width: 744.5px;
  margin: 0 auto;
  // position: absolute;
  // right: -14px;
  // align-self: center;
  // display: block !important;
  // margin-left: auto !important;
  // margin-right: auto !important;
}

.save-button:hover {
 cursor: pointer;
 background-color: black;
 color: white;
}

.save-button {
  margin-top: 15px;
  border-radius: 2px;
}

.ql-picker-label.ql-active {
  // overflow: hidden;
}

// .quill-toolbar.ql-toolbar.ql-snow {
//   z-index: 2;
// }

.ql-picker.ql-expanded .ql-picker-options {
  z-index: 2 !important;
}

.quill-contents.ql-container.ql-snow {
  background-color: white;
  border-radius: 10px;
  min-height: 500px;
  max-height: 500px;
  z-index: 1;
}

.mdl-layout__obfuscator.is-visible {
  display: none !important;
}

.mdl-layout__header {
  z-index: 6 !important;
}

.allnotes-container, .notebook-container,
.allnotes-container.active, .notebook-container.active  {
  background-color: white;
  height: 100%;
}

/*.newnotebook-button,*/ .backtonotebooks-button {
  top: 10px;
  right: 12px;
  border-radius: 5px;
  margin: 5px;
}

// .newnotebook-button:hover {
//  cursor: pointer;
// }

.ql-snow.ql-toolbar .ql-picker .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker .ql-picker-label:hover {
  color: black;
}

.fa-trash {
 padding-top: 8px;
}

.form-label {
 background-color: gainsboro;
 width: 100%;
 border-right: none;
 border-left: none;
 font-family: "Roboto", sans-serif;
 font-size: 18px;
 font-weight: 300;
 text-align: center;
}

.form-control {
 margin-bottom: 4px;
}

.top-of-notebook-index {
 text-align: right;
 padding-right: 15px;
 padding-top: 64px;
}
