/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "notebook_index.scss";
 @import "material.min.css";
 @import "sidebar.scss";
 @import "notebooks.scss";
 @import "notes.scss";
 @import "static_pages.scss";
 @import url(https://fonts.googleapis.com/css?family=Arvo|Pacifico);

 html, body {
   min-height: 100%;
   height: 100%;
   background: #f3f3f3;
   font-family: "Roboto", sans-serif;;
 }

 .wrapper {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   background: #f3f3f3;
   min-height: 100%;
   height: 100%
 }

 .heading {
   font-weight: 300;
   text-align: center;
   color: #aaa;
   margin: 68px 0 26px;
   display: block;
 }

 .minimal-wrapper {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding: 0 10px;
   display: block;
 }

 .bar-header {
   position: absolute;
   height: 4px;
   width: 100%;
   top: 0;
   left: 0;
   display: block;
 }

 .bar-header .logo-bar {
   position: relative;
   background-color: #2dbe60;
   height: 4px;
   width: 100%;
   z-index: 3;
   display: block;
 }

 #container-boundingbox {
   border: none;
   min-height: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   display: block;
 }

 #container {
   background: 0 0;
 }

 .main {
   background: 0 0;
 }

 .MinimalFormFrame {
   display: block;
 }

 .branding {
   background: no-repeat center top;
   background-size: 68px 68px;
 }

 .heading .branding {
   height: 68px;
   margin-bottom: 19px;
   display: block;
 }

 .minimal-body {
   background: #fff;
   max-width: 384px;
   margin: 0 auto 28px;
   border: 1px solid #dedede;
   text-align: left;
   display: block;
 }

 .MinimalLoginForm {
   display: block;
 }

 .minimal-form {
   margin: 32px;
 }

 form ol {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 ol {
   display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   -webkit-padding-start: 40px;
 }

 li {
   display: list-item;
   text-align: -webkit-match-parent;
 }

 label {
   color: #747474;
   display: inline-block;
 }

 .Row {
   margin-bottom: 2rem;
 }

 .Row:before, .Row:after {
   display: table;
   content: "";
 }

 .Row:after {
   clear: both;
 }

 #email-wrapper {
   position: relative;
   display: block;
 }

 #password-wrapper {
   position: relative;
   margin-bottom: 16px;
   display: block;
 }

 #context-switch {
   background: #f3f3f3;
   text-align: center;
   display: block;
 }

 .t-pico {
   color: #747474;
   line-height: 1.63636364;
   font-style: normal;
   font-weight: 400;
   font-size: .91666667rem;
   margin: 0;
   display: block;
 }

 #context-switch .switch {
   margin-top: 6px;
   display: block;
 }

 .heading h2 {
     font-size: 32px;
     line-height: 36px;
     margin-bottom: 6px;
     color: #2dbe60;
     margin: 0 0;
 }

 input[type=submit] {
   -webkit-appearance: button;
   cursor: pointer;
 }

 .Btn {
   width: 100%;
 }

 .Btn_emph {
     color: #fff;
     background-color: #2dbe60;
 }

 .heading .branding {
     background: url(materialnotelogo.png) no-repeat center top;
     background-size: 100px 100px;
     height: 100px;
     margin-bottom: 1px;
     display: block;
 }

 #context-switch .switch a {
     transition: all .2s ease;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 18px;
     color: #2dbe60;
     text-decoration: none;
 }

 #animated-fab-button--create {
    transition: 150ms ease all;
    -webkit-transition: 150ms ease all;
    display: block;
    position: fixed;
    right: 40px;
    bottom: 36px;
    z-index: 999;
 }

 #animated-fab-button--create .hover {
   display: none;
 }

 #animated-fab-button--create:hover .normal {
   display: none;
 }

 #animated-fab-button--create:hover .hover {
   display: inline;
 }

 #animated-fab-button--create:hover {
    transform: scale(1) rotate(360deg);
    -webkit-transform: rotate(360deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
 }

.mdl-layout__drawer-button {
  color: white !important;
}

/*------------------------------------------------ */

ul {
  list-style: none;
}

#root {
   height: 100%;
   width: 100%;
  //  position: relative;
   overflow-x: hidden;
   overflow-y: hidden;
   background-color: #F2F2F2;
 }

 nav {
   background: #4CAF50;
   height: 7%;
   min-height: 70px;
   border-right-width: 0;
 }

 nav header h1 {
   padding-top: 4px;
   margin-top: 0px;
   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   font-size: 2em;
   height: 100%;
   text-align: center;
   color: white;
 }

 .signout-button {
   position: absolute;
   top: 16px;
   right: 25px;
   z-index: 100;
 }

.container.group {
  outline: 0;
  width: 64%;
  overflow-y: auto;
  width: 70%;
  position: absolute;
  right: -14px;
}

.save-button:hover {
 cursor: pointer;
 background-color: black;
 color: white;
}

.save-button {
  margin-top: 15px;
  border-radius: 2px;
}

.ql-picker-label.ql-active {
  overflow: hidden;
}

.quill-contents.ql-container.ql-snow {
  background-color: white;
  border-radius: 10px;
  min-height: 900px;
}

.allnotes-container, .notebook-container,
.allnotes-container.active, .notebook-container.active  {
  background-color: white;
  height: 100%;
}

.newnotebook-button, .backtonotebooks-button {
  top: 10px;
  right: 10px;
  border-radius: 5px;
  margin: 5px;
}

.newnotebook-button:hover {
 cursor: pointer;
}

.ql-snow.ql-toolbar .ql-picker .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker .ql-picker-label:hover {
  color: black;
}

.fa-trash {
 padding-top: 8px;
}

.form-label {
 background-color: gainsboro;
 width: 100%;
 border-right: none;
 border-left: none;
}

.form-control {
 margin-bottom: 4px;
}

.top-of-notebook-index {
 text-align: right;
 padding-right: 15px;
}
